/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0 !important;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img{
  width: 100%;
}

section{
  padding: 60px 0px;
}

.section__title{
  font-weight: 600;
  color: var(--primary-color);
}

.errors{
  text-align: left;
  color: red;
  font-size: 12px;
}
.cursor-pointer{
  cursor: pointer;
}
.text-left{
  text-align: left;
}
.w-full{
  width: 100%;
}
.w-60{
  width: 240px;
}
.flex{
  display: flex;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.h-full{
  height: screen;
}
.rounded-md{
  border-radius: 10px;
}
.z-50{
  z-index: 5000;
}
.mb-5{
  margin-bottom: 20px;
}
.gap-2{
  gap: 8px
}
.gap-4{
  gap: 16px
}
.p-3{
  padding: 12px;
}
.ml-auto{
  margin-left: auto;
}
.mt-auto{
  margin-top: auto;
}
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}
.h-6{
  height: 24px;
}
.w-6{
  width: 24px;
}
.w-8{
  width: 32px;
}
.h-7{
  height: 28px;
}
.z-0{
  z-index: 0;
}

@media only screen and (max-width:768px){
  section{
    padding: 40px 0px;
  }
  }